@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    color: rgb(146, 142, 142);
    font-family: "Confortaa";
    
    display: grid;
    grid-template-areas:"header main";
    grid-template-columns:  200px 1fr;
    
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background-color: rgb(0, 0, 0);
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 1;
    overflow-y: auto;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    max-height: 500vh;
    background-color: rgb(37, 37, 40);
}

.logo {
    background-color: black;
    height: 250px;
}

nav {
    flex: 1;
    
    flex-direction: column;
    overflow-y: auto;
}

.opciones {
    
    margin: 0;
    padding: 0;
    padding: 5px;
    justify-content: space-between;
    flex-grow: 1;
    
}

.opciones > li {
    display: flex;
    flex-direction: row;
    flex:1;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 10vh;
    background-color: rgb(25, 24, 24);
}

.opciones > li > a {
    text-decoration: none;
    color: #a7a5a5;
}

.opciones > li > a:hover {
    color: #FFC0CB;
}

.opciones > li > a:focus,
.opciones > li > a:hover {
    cursor: pointer;
}

.iconos {
    display: flex;
    justify-content: space-around;
}

.icono > img {
    max-height: 30px;
    max-width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
}

.logo {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #000000; 
    padding: 10px;
}

.logo img {
    max-height: 250px; 
    max-width: 100%;
    object-fit: contain; 
}

main .logo {
    display: none;
}

h1 {
    color: #FFC0CB;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

h2 {
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: #FFC0CB
}

section {
    padding: 10px;
    margin-bottom: 150px;
    box-sizing: border-box 
    
}

button {
    background-color: #FFC0CB;
    margin: 10px; 
    border: none;
    color: rgb(2, 2, 2);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #eedadd; /
}

button:active {
    background-color: #FF808B;
    transform: translateY(2px);
}

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


p {
    color: whitesmoke;
}

#sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


@media only screen and (max-width: 480px){
    body {
        grid-template-columns: 1fr;
    }
    header {
        display: none;
    }
    main .logo {
        display: flex;
    }
    main .logo img {
        margin-right: 10px;
    }
    main h1 {
        display: none;
    }
}