@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    color: rgb(146, 142, 142);
    font-family: "Confortaa";
}

header {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    background-color: rgb(0, 0, 0);
}

main {
    height: 100%;
    flex: 1;
    background-color: rgb(37, 37, 40);
}

.logo {
    background-color: black;
    height: 250px;
}

nav {
    flex: 1;
}

.opciones {
    margin: 0;
    padding: 0;
    padding: 5px;
    justify-content: space-between;
}

.opciones > li {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: rgb(25, 24, 24);
}

.opciones > li > a {
    text-decoration: none; /* Elimina el subrayado */
    color: #a7a5a5;
}

.opciones > li > a:hover {
    color: #FFC0CB;
}

.opciones > li > a:focus,
.opciones > li > a:hover {
    cursor: pointer;
}

.iconos {
    display: flex;
    justify-content: space-around;
}

.icono > img {
    max-height: 30px;
    max-width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
}

.logo {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #000000; 
    padding: 10px;
    
}

.logo img {
    max-height: 250px; 
    max-width: 100%;
    object-fit: contain; 
}

h1 {
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: #FFC0CB
}